
<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">    <meta charset="UTF-8">
    <title>Forms</title>
</head>
<body>

<div class="container">
    <h2>Office Detail</h2>
    <ul class="list-group">
        <li class="list-group-item">
        Name : {{ office.name }}<br>
        District : {{ office.district }}<br>
        Type:  {{ object.type }}
        <h3>Anusuchi 1</h3>
        <p>
            {% for f in anusuchi_1 %}
                {{ f.get_anusuchi_display }}   <a href="{% url 'formpack_html_export' f.xform.user.username f.xform.id_string office.pk %}">Submission</a><br>
                {{ f.xform.title }}

                {% empty %}
                 <p>No form</p>
            {% endfor %}

        </p>

         <h3>Anusuchi 2</h3>
        <p>
            {% for f in anusuchi_2 %}
                {{ f.get_anusuchi_display }}   <a href="{% url 'formpack_html_export' f.xform.user.username f.xform.id_string office.pk %}">Submission</a><br>
                {{ f.xform.title }}
                {% empty %}
                 <p>No form</p>
            {% endfor %}

        </p>

         <h3>Anusuchi 3</h3>
        <p>
            {% for f in anusuchi_3 %}
                {{ f.get_anusuchi_display }}   <a href="{% url 'formpack_html_export' f.xform.user.username f.xform.id_string office.pk %}">Submission</a><br>
                {{ f.xform.title }}
                {% empty %}
                 <p>No form</p>
            {% endfor %}

        </p>

    </ul>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>
