{% extends 'office_base.html' %}
{% load filters %}

{% block content %}

<div id="main-container" class="minified">

        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <?php include 'header.php'; ?>

        <div class="row no-gutters">
            <div class="col-md-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">गृह पृष्‍ठ</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">कार्यालयहरू</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ office.name }}</li>
                    </ol>
                </nav>
            </div>
        </div>

            <div class="col-md-12">
                <div class="dash-right">
                    <div class="row">

                        <div class="col-md-12">
                            <div class="widget-info margin-top-large">
                                <div class="widget-head">
                                    <h5><a href="#" title="">{{ office.name }}</a></h5>
                                    <p></p>
                                </div>
                                <div class="widget-body">


                                                    <table class="table table-hover margin-top">
                                                        <thead class="thead-default">
                                                            <tr>
                                                                <th><strong>दृश्य</strong></th>
                                                                <th><strong>प्रयोगकर्ता</strong></th>
                                                                <th><strong>बुझाईएको मिती</strong></th>

                                                            </tr>
                                                        </thead>
                                                             {% for inst in instance %}
                                                                 <tr>

                                                                {% url 'onadata.apps.viewer.views.instance' inst.instance.user.username inst.instance.xform.id_string  as submission_url %}

                                                                <td><a href="{{ submission_url }}#/{{ inst.instance.id |stringformat:'d' }}">Open</a></td>
                                                                 <td>{{ inst.instance.user.username }}</td>
                                                                <td>{{ inst.instance.date_created }}</td>
                                                             </tr>

                                                            {% endfor %}
                                                    </table>



                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

</div>
{% endblock content %}