{% extends 'office_base.html' %}
{% block content %}
            <div class="col-md-12">
                <div class="dash-right">
                    <div class="row">

                        <div class="col-md-12">
                            <div class="widget-info margin-top-large">
                                <h5>Username: {{ user }}</h5>
                                {% if user.first_name %}
                                    <h5>First Name: {{ user.first_name }}</h5>
                                {% endif %}
                                {% if user.last_name %}
                                    <h5>First Name: {{ user.last_name }}</h5>
                                {% endif %}
                                {% if user.email %}
                                    <h5>Email: {{ user.email }}</h5>
                                {% endif %}

                                <a href="{% url 'user_profile_update' user.pk %}"
                                   title=""
                                   class="btn btn-sm btn-xs btn-primary">
                                    Update
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock content %}