{% extends 'office_base.html' %}
{% load staticfiles %}
{% block content %}
            <div class="col-md-12">
                <div class="dash-right">
                    <div class="row">

                        <div class="col-md-12" style="margin-top: 60px">

                            <form action="" method="post">{% csrf_token %}
                                {{ form.as_p }}
                                <input type="submit" class="btn-primary">
                            </form>

                        </div>
                    </div>
                </div>
            </div>

{% endblock content %}